*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/*Body*/
body{
      /*background:-webkit-linear-gradient(100deg, #D65076, #45B8AC, #EFC050, #9B2335);*/
      background-color: #E8E8E8;
      height: auto;
}

/*---------------------------------------------Navbar--------------------------------------------------------*/

header ul{
   margin-left: 8.4%;
}

header ul li{
    display: inline-block;
}

header ul li a{
    display: block;
    padding-left: 30px;
    color: black;
    line-height: 60px;
    font-size: 35px;
}

header ul li a:hover{
    color: #9B1B30;
}


header nav{
    width: 100%;
    height: 6%;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:-webkit-linear-gradient(100deg, #D65076, #45B8AC, #EFC050, #9B2335);
   /*background-color: whitesmoke;*/

}

/*---------------------------------------Container main page--------------------------------------------------------------*/

/*Stylesheet for min container*/
#top-container{
    margin-top: 5%;
    margin-bottom: 1%;
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    border-radius: 5px;
}

/*---------------------------------------Footer--------------------------------------------------------------*/

#footer{
    bottom: 0;
    width: 100%;
    height: 4%;;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    position: fixed;
    background:-webkit-linear-gradient(100deg, #D65076, #45B8AC, #EFC050, #9B2335);
   /*background-color: whitesmoke;*/
   opacity: 0.3;
}

#footer:hover{
   opacity: 1;
}

footer ul{
   margin-left: 35%;
}

footer ul li{
    display: inline-block;
}

footer ul li a{
    display: block;
    padding-left: 30px;
    color: black;
    line-height: 45px;
    font-size: 30px;
}

footer ul li a:hover{
    color: #9B1B30;
}

/*
footer nav{
    width: 100%;
    height: 6%;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    border-radius: 5px;
}
*/

/*------------------------------------------Trippel box main page-----------------------------------------------------------*/

#trippel-container{
    color: black;
    line-height: 50px;
    text-align: center;
    margin-right: -8%;
    margin-left: 10%;
    margin-bottom: 1%;
    width: 18.5%;
    height: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:-webkit-linear-gradient(100deg, #D65076, #45B8AC, #EFC050);
    border-radius: 5px;
    float: left;  
}


#trippel-container:hover{
    box-shadow: 0 6px 10px 0 #696969, 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}


#trippel-container-kasse-text{
    width: auto;
    height: 86%;
    background-color: whitesmoke;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}


#trippel-container-kasse-text-gap{
    font-size: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    line-height: 22px;
    text-align: justify;
    width: 92%;
    height: 70%;
    background-color: whitesmoke;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    
}



/*-------------------------------------------artikel thumbnail boxs----------------------------------------------------------*/
#trippel-containertest{
    margin-top: 5%;
    color: black;
    line-height: 50px;
    text-align: center;
    margin-right: -8%;
    margin-left: 10%;
    margin-bottom: -2%;
    width: 18.5%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F6D155;
    /*background:-webkit-linear-gradient(100deg,#45B8AC, #EFC050);*/
    border-radius: 5px;
    float: left;
    opacity: 0.8;
    
}


#trippel-containertest:hover{
   box-shadow: 0 6px 10px 0 #696969, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   opacity: 1;
}


#trippel-container-kasse-texttest{
    width: auto;
    height: 46%;
    background-color: whitesmoke;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}


#trippel-container-kasse-text-gaptest{
    font-size: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    line-height: 22px;
    text-align: justify;
    width: 92%;
    height: 95%;
    background-color: whitesmoke;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}
/*-------------------------------------------------idk----------------------------------------------------*/


/*Stylesheet for min container*/
#top-containerkage{
    margin-top: 6%;
    margin-bottom: 1%;
    width: 80%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    border-radius: 5px;
}
/*---------------------------------------------read artikel boxs---------------------------------------------------------*/

#top-containereller{
    margin-top: 5%;
    margin-bottom: 1%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    border-radius: 5px;
}


#artikel-wrapper{
    margin-top: 1%;
    font-size: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    line-height: 22px;
    text-align: justify;
    width: 92%;
    height: auto;
    background-color: whitesmoke;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}


#overskrift-wrapper{
    font-size: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    width: auto;
    height: 5%;
    background-color: #F6D155;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}

.tilbage{
  margin-right: -7%;/*Slet hvis frem bliver vist*/
  border: none;
  margin-top: 1.5%;
  float: left;
  background-color: #d10244;
  color: white;
  padding: 5px 17px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  border-top-right-radius:5px;
  border-bottom-right-radius: 5px;
}

.tilbage:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.frem{
  border: none;
  margin-top: 1.5%;
  float: right;
  background-color: #d10244;
  color: white;
  padding: 5px 17px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}


.frem:hover{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-------------------------------------About read----------------------------------------------------------------*/


#top-containerabout{
    margin-bottom: -3%;
    margin-top: 5%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    border-radius: 5px;
}


#about-wrapper{
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    line-height: 22px;
    text-align: justify;
    width: 92%;
    height: auto;
    background-color: whitesmoke;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}


#overskrift-about{
    font-size: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    width: auto;
    height: 5%;
    background-color: #F6D155;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}

/*-------------------------------------404 Error----------------------------------------------------------------*/

#top-containererror{
    font-size: 30px;
    text-decoration: none;
    margin-top: 10%;
    margin-bottom: 1%;
    width: 64%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    background-color: #E8E8E8;
    border-radius: 5px;
}

#top-containererror a{
   background-color: yellow;
   border-radius: 5px;
   color: black;
}


#top-containererror a:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
