*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/*Body*/
body{
      /*background:-webkit-linear-gradient(100deg, #D65076, #45B8AC, #EFC050, #9B2335);*/
      background-color: #E8E8E8;
      height: auto;
}

header ul{
   margin-left: 8.4%;
}

header ul li{
    display: inline-block;
}

header ul li a{
    display: block;
    padding-left: 30px;
    color: black;
    line-height: 60px;
    font-size: 35px;
}

header ul li a:hover{
    color: #9B1B30;
}


header nav{
    background:-webkit-linear-gradient(100deg, #D65076, #45B8AC, #EFC050, #9B2335);
    width: 100%;
    height: 6%;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;

}


/*Stylesheet for min container*/
#top-container{
    margin-top: 5%;
    margin-bottom: 1%;
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    border-radius: 5px;
    background-repeat:no-repeat;
}



#footer{
    bottom: 0;
    width: 100%;
    height: 4%;;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    border-radius: 5px;
    position: fixed;
}

footer ul{
   background:-webkit-linear-gradient(100deg, #D65076, #45B8AC, #EFC050, #9B2335);
}

footer ul li{
    display: inline-block;
}

footer ul li a{
    display: block;
    padding-left: 30px;
    color: black;
    line-height: 45px;
    font-size: 30px;
}

footer ul li a:hover{
    color: #9B1B30;
}

/*
footer nav{
    width: 100%;
    height: 6%;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    border-radius: 5px;
}
*/

#trippel-container{
    color: black;
    line-height: 50px;
    text-align: center;
    margin-right: -8%;
    margin-left: 10%;
    margin-bottom: 1%;
    width: 18.5%;
    height: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:-webkit-linear-gradient(100deg, #D65076, #45B8AC, #EFC050);
    border-radius: 5px;
    float: left;
    
}


#trippel-container:hover{
    box-shadow: 0 6px 10px 0 #696969, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}


#trippel-container-kasse-text{
    width: auto;
    height: 86%;
    background-color: whitesmoke;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}


#trippel-container-kasse-text-gap{
    font-size: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    line-height: 22px;
    text-align: justify;
    width: 92%;
    height: 70%;
    background-color: whitesmoke;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}



/*-----------------------------------------------------------------------------------------------------*/
#trippel-containertest{
    margin-top: 5%;
    color: black;
    line-height: 50px;
    text-align: center;
    margin-right: -8%;
    margin-left: 10%;
    margin-bottom: -2%;
    width: 18.5%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F6D155;
    /*background:-webkit-linear-gradient(100deg,#45B8AC, #EFC050);*/
    border-radius: 5px;
    float: left;
    
}


#trippel-containertest:hover{
    box-shadow: 0 6px 10px 0 #696969, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}


#trippel-container-kasse-texttest{
    width: auto;
    height: 52.3%;
    background-color: whitesmoke;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}


#trippel-container-kasse-text-gaptest{
    font-size: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
    line-height: 22px;
    text-align: justify;
    width: 92%;
    height: 95%;
    background-color: whitesmoke;
    border-color: black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}
/*-----------------------------------------------------------------------------------------------------*/


/*Stylesheet for min container*/
#top-containerkage{
    margin-top: 6%;
    margin-bottom: 1%;
    width: 80%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    border-radius: 5px;
}
/*------------------------------------------------------------------------------------------------------*/

#top-containereller{
    margin-top: 6%;
    margin-bottom: 1%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    border-radius: 5px;
}